<!DOCTYPE html>
<html>
<body>
  <h1>Vue.js Examples</h1>
  <div id="app">
    {{ message }}
  </div>
  <hr>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <hr>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>
  <hr>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <hr>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <script src="../DVue.js"></script>
  <script src="example.js"></script>
</body>
</html>
